
.header {
    height: 120px;
    background-color:#fbfbfb;
    position: fixed;
    z-index: 999;
    width: 100%;
    margin-bottom: 120px;
}
.header__navbar-list{
    list-style: none;
    padding-left: 4px;
    padding-right: 20px;
}
.header__navbar{
    z-index: 999;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-item,.header__navbar-item-link{
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    color: var(--black-color);
}
.header__navbar-item:hover,.header__navbar-item-link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-item--strong{
    font-weight: 500;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
  
    height: 12px;
   background-color: black;
   border-left: 1px solid;
   top:50%;
   right: -9px;
   transform: translateY(-50%);
}
.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0 ,0 ,0.4 );
}
.modal__body{
    width: 500px; 
    height: 500px;
    background-color: seashell ;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: red;
    cursor: pointer;
}
.auth-form__group{
    margin-bottom: 5px;
}
.auth-form{
    width: 500px;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 11px;
    padding: 0 auto;
    font-size: 1.4rem;
    border-radius: 2px solid #dbdbdb;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__asign{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
}
.auth-form__policy-link{
    text-decoration: none;
    color: blueviolet;
}
.btn{
    min-width: 142px;
    height: 30px;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    font-size: 1rem;
   padding: 0;
   outline: none;
   cursor: pointer;
  
}
.btn:hover{
    background-color: rgba(0,0 ,0 ,0.05 );
}
.btn.btn--primary{
    background-color: blueviolet;
    color: aliceblue;
    margin-left: 9px;
}
.btn .btn--with-icon{

}
.auth-form__controls{
    display: flex;
    justify-content: flex-end;
}
.auth-form__social{
    padding-top: 10px;
    background-color: #f5f5f5;
    padding: 12px 32px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
/* header with search */
.header-with-search {

}
.header__search-input{
    width: 471px;
    height: 43px;
    display: flex;
    margin-left: 330px;
}
.header__navbar-item{
   
   
}
.item-carousel{
   max-height: 50%;
    max-width:100%;
    position: relative;
    margin-top: 120px;
}
.text-carousel{

}
.product-containers{
   padding-top: 2%;
   padding-left: 5%;
   padding-right: 5%;
}